*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    min-height: 80vh;
}
